.ligthWeather{
    background-image: url(./files/lightWeatherBackground.webp);
    background-size: cover;
}
.darkWeather{
    background-image: url(./files/darkWeatherBackground.webp);
    background-size: cover;
}
.mobileWeather{
    background-image: url(./files/beautifulSky.webp);
    background-size: cover;
}